
@{
    ViewBag.Title = "Clientes";
}

<h2>Gestão de Clientes</h2>

<p>Escolha uma opção:</p>

<ul>
    <li>@Html.ActionLink("Incluir Cliente", "Incluir", "Clientes")</li>
    <li>@Html.ActionLink("Listar Clientes", "Listar", "Clientes")</li>
    <li>@Html.ActionLink("Pesquisar Clientes (Ajax)", "PesquisarClientes", "Clientes")</li>
</ul>

