
@{
    ViewBag.Title = "Index";
}

<h2>Emissão de Pedidos</h2>

<ul>
    <li>@Html.ActionLink("Criar novo pedido", "CriarPedido", "Pedidos")</li>
    <li>@Html.ActionLink("Listar Pedidos", "ListarPedidos", "Pedidos")</li>
</ul>

