
@{
    ViewBag.Title = "Itens";
}

<h2>Itens de Pedidos</h2>

<ul>
    <li>@Html.ActionLink("Incluir itens em um pedido","IncluirItens","Itens")</li>
    <li>@Html.ActionLink("Listar itens por pedido", "ListarItens", "Itens")</li>
    <li>@Html.ActionLink("Listar itens por pedido (Ajax)", "ListarItensAjax", "Itens")</li>
</ul>

