
@{
    ViewBag.Title = "Chamados";
}

<h2>Chamados</h2>

<ul>
    <li>@Html.ActionLink("Abrir Chamado", "AbrirChamado", "Chamados")</li>
    <li>@Html.ActionLink("Listar Chamados", "ListarChamados", "Chamados")</li>
</ul>