@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Olá, " + User.Identity.Name, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Home")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Cadastrar-se", "Criar", "Home")
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Home")
        </li>
    </ul>
}