
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exemplo03</title>
</head>
<body>
    <div> 
        <input type="button" id="btn1" value="Função callback"/>
        <input type="button" id="btn2" value="Função anônima" />
        <input type="button" id="btn3" value="Arrow Function" />
    </div>

    <script src="~/FuncoesJS/funcoes_exemplo03.js"></script>
</body>
</html>
