
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exemplo05</title>
</head>
<body>
    <div> 
        <span>Estado:</span>
        <select id="estado">
            <option>Selecione o estado</option>
        </select>

        <span>Cidades:</span>
        <select id="cidade"></select>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/FuncoesJS/funcoes_exemplo05.js"></script>
</body>
</html>
