
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exemplo01 - Javascript puro</title>
    
</head>
<body>
    <div>
        <form>
            <h1>Simulando um cadastro de produtos</h1>
            <label>Código</label><br />
            <input type="number" id="codigo" /><br />

            <label>Descrição</label><br />
            <input type="text" id="descricao" /><br />

            <label>Preço</label><br />
            <input type="text" id="preco" /><br />

            <input type="button" id="btnExibir" value="Exibir Valores" />
            <br />
            <div id="resultado"></div>
        </form>
    </div>
    <script src="~/FuncoesJS/funcoes_exemplo02.js"></script>
</body>
</html>
