
@{
    ViewBag.Title = "Produtos";
}

<h2>Gestão de Produtos</h2>

<p>Escolha uma opção:</p>

<ul>
    <li>@Html.ActionLink("Incluir Produto", "Incluir", "Produtos")</li>
    <li>@Html.ActionLink("Listar Produtos", "Listar", "Produtos")</li>
</ul>

